### Eclipse ###
.classpath
.project
.settings/

### SVN ###
.svn/

### Maven ###
target/

### Log ###
**/logs/**

### Manifest ###
META-INF

### JKS ###
*.jks

### LOG ###
*.log
*.log.*

### DB ###
**/db/**

